* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.wraper {}

.header {
    background: url(../img/Travel-Time.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    background-position: center;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

}

.header__container {}

.nav {
    color: white;
    padding-top: 20px;

}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

}


.nav__item {
    width: 1170px;
    height: 39px;
    font-size: 24px;

}

.content {}

.title {
    font-weight: 700;
    font-size: 96px;
    color: white;
    text-align: center;
    padding-top: 154px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    color: white;


}

.btn {
    display: flex;
}

.header__btn {}

.hero__btn {
    border: 1px solid #00b43d;
    border-radius: 8px;
    padding: 16px 28px;
    width: 191px;
    height: 60px;
    background-color: #00b43d;
    border-color: white;

    border-radius: 8px;
    width: 191px;
    height: 60px;

    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: white;
    position: absolute;
    top: 725px;
    left: 469px;
}

.place {
    background: url(../img/mount.png) no-repeat;
    background-size: cover;
}

.container {}

.place__container {}

.place__title {
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.content {}

.cart {
    width: 320px;
    height: 586px;
    background: rgba(88, 88, 88, 0.5);
    display: flex;
}

.cart__item {}

.img__cart {}

.cart__title {
    font-weight: 500;
    font-size: 32px;
    color: white;
    padding-bottom: 54px;
}

.cart__subtitle {
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.cart__btn {
    border-radius: 8px;
    width: 96px;
    height: 39px;
    background: rgba(78, 78, 78, 0.45);

    font-weight: 500;
    font-size: 12px;
    line-height: 233%;
    color: white;
}